.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contato {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
